{% for item in cart.items %}
    <div class="line-item line-item-{{ forloop.index }}">    
        
        <div class="line-item-info">
            <a href="{{ item.url  }}">
                <img src="{{item | img_url: "38x"}} alt="{{item.product.title}}">
            </a>
            <div class="info">
                <h4 class="line-item-title">{{item.product.title}}</h4>
                <p class="variant-name-price">{{item.variant.title}}, {{item.variant.price | money_without_trailing_zeros}}</p>
                <div class="quanity-wrapper">
                    <div class="minus"> - </div>                
                    <span class="quantity">{{item.quantity}}</span>
                    <label style="display:none;" class="qty-label" for="updates_{{ item.key }}">quantity</label>
                    <input style="display:none;" class="js-qty-field js-line-qty" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                    <div class="plus"> + </div>
                </div>
            </div>
        </div>
        <a class="remove-line js-remove-line" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">{% render 'icon-close' %}</a>
    </div>
{% endfor %}