<div  class="home-hero">
    <div class="hero-content">
        <h2 class="hero-title">{{section.settings.hero-title}}</h2>
        <p class="hero-desc">{{section.settings.hero-description}}</p>
        <p class="subtext">{{section.settings.subtext}}</p>
        <a class="btn hero-btn desktop" href="{{section.settings.cta_url}}">{{section.settings.cta_text_desktop}}</a>
        <a class="btn hero-btn mobile" href="{{section.settings.cta_url}}">{{section.settings.cta_text_mobile}}</a>
    </div>

</div>
<style>
    
    .home-hero{
        background-image: url({{section.settings.mobile-image | img_url: '768x' }});
        background-position:top center;
    }
    @media(min-width:768px){
    .home-hero{
        background-image: url({{section.settings.desktop-image | img_url: '1920x'}});
        background-position:right;
    }  
    }
</style>
{% schema %}
  {
    "name": "Home Page Hero",
    "settings": [
  
     {
      "type": "image_picker",
      "id": "desktop-image",
      "label": "Choose the image for Desktop"
     },
	 {
      "type": "image_picker",
      "id": "mobile-image",
      "label": "Choose the image for Mobile"
     },
     {
        "type": "html",
        "id": "hero-title",
        "label": "Hero Title Text",
        "default":"Hero Title Text"
      },
      {
        "type": "text",
        "id": "hero-description",
        "label": "Hero Description",
        "default":"Hero Description"
      },
      {
        "type": "text",
        "id": "subtext",
        "label": "Button Subtext",
        "default":"Subtext above button"
      },
      {
        "type": "text",
        "id": "cta_text_desktop",
        "label": "CTA Text Desktop",
        "default":"CTA Text"
      },
      {
        "type": "text",
        "id": "cta_text_mobile",
        "label": "CTA Text Mobile",
        "default":"CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Link"
        
      }

     
   ],
   "presets": [
       {
      	 "name": "Hero",
       	 "category": "Home Sections"
       }
  	 ]
  }
{% endschema %}